
.close{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    cursor: pointer;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.date{
    width: 250px;
}

.table {
    height: 200px;
    overflow-y: scroll;
}

.table-content  {
    margin-bottom: 20px;
}

.mat-row.hovered {
    cursor: pointer;
}

.mat-row.highlighted {
    background: #999;
}