
.close{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    cursor: pointer;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.date{
    width: 250px;
}