<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
  <mat-stepper orientation="horizontal" [linear]="true">
    <mat-step>
      <form [formGroup]="formDate">
        <mat-form-field appearance="fill" class="date">
          <mat-label>Datum</mat-label>
          <input
            matInput
            type="date"
            required
            formControlName="date"
          />
          <mat-error *ngIf="formDate.controls['date'].dirty && formDate.hasError('required', 'date')">Unesite datum</mat-error>
          <mat-error *ngIf="formDate.controls['date'].dirty && !formDate.hasError('required', 'date')">Izaberite datum u prošlosti</mat-error>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext [disabled]="!formDate.valid">Sledeće</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <div class="table-content">
      <mat-table #table [dataSource]="policies" class="table">
        <ng-container matColumnDef="car">
          <mat-header-cell *matHeaderCellDef>Auto</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.car.registerNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Tip</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.aidPackage.description }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cover">
          <mat-header-cell *matHeaderCellDef>Pokriće €</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.aidPackage.cover }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" class="mat-row" (click)="selectRow(row)"
        [ngClass]="{hovered: rowHovered, highlighted: row.carId  == selectedPolicyCarId && row.aidPackageId == selectedPolicyAidPackageId}"
        (mouseover)="hoverRow(true)" (mouseout)="hoverRow(false)"
        ></mat-row>
      </mat-table>
      </div>
      <div>
        <button mat-button matStepperPrevious>Prethodno</button>
        <button mat-button matStepperNext [disabled]="selectedPolicyCarId == -1">Sledeće</button>
      </div>
  </mat-step>

  <mat-step>
    <form [formGroup]="formDescription">
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          type="text"
          required
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Prethodno</button>
        <button mat-button matStepperNext mat-dialog-close="report" (click)="report()" [disabled]="!formDescription.valid">Prijavi</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</mat-dialog-content>