<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
  <mat-stepper orientation="horizontal" [linear]="true">
    <mat-step>
      <form [formGroup]="formDescription">
        <div class="wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Tip</mat-label>
          <input
            matInput
            required
            value="{{description}}"
            [disabled]="true"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cena</mat-label>
          <input
            matInput
            required
            value="{{price}}"
            [disabled]="true"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pokriće</mat-label>
          <input
            matInput
            required
            value="{{cover}}"
            [disabled]="true"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Trajanje</mat-label>
          <input
            matInput
            required
            value="{{durationInMonths}} meseci"
            [disabled]="true"
          />
        </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Sledeće</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <form [formGroup]="formCarId">
      <div class="last-step">
        <mat-form-field appearance="fill">
          <mat-label>Auto:</mat-label>
          <mat-select formControlName="carId">
            <mat-option
            *ngFor="let car of cars"
              value="{{ car.id }}"
            >
              {{ car.registerNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a href="./automobili" class="add-car">Dodaj novi automobil</a>
      </div>
      <div>
        <button mat-button matStepperPrevious>Prethodno</button>
        <button mat-button matStepperNext mat-dialog-close="buy" (click)='buy()' [disabled]="!formCarId.valid">Kupi</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>
</mat-dialog-content>