.content {
    overflow-y: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.close{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px;
    cursor: pointer;
}


.add-car {
    margin-bottom: 10px;
    text-align: center;
}

.last-step {
    display: flex;
    flex-direction: column;
    padding: 10px;
}