<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Prijava</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
            <mat-error *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">Email je obavezan</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Lozinka</mat-label>
            <input formControlName="password" type="password" matInput>
            <mat-error *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">Lozinka je obavezna</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button (click)="onSubmit()" [disabled]="loginForm.invalid" mat-stroked-button color="accent" class="btn-block">Prijavi se</button>
      </form>
     <a href="./registracija" class="register">Registruj se</a>
    </mat-card>
  </div>
