<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
  <mat-stepper orientation="horizontal">
    <mat-step>
      <form [formGroup]="formDatum">
        <mat-form-field appearance="fill">
          <mat-label>Datum</mat-label>
          <input
            matInput
            type="date"
            required
            formControlName="datum"
          />
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>Sledece</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <form [formGroup]="formAutoId">
      <mat-form-field appearance="fill">
        <mat-label>Auto:</mat-label>
        <mat-select formControlName="autoId">
          <mat-option
          *ngFor="let car of cars"
            value="{{ car.id }}"
          >
            {{ car.registarskiBroj }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Nazad</button>
        <button mat-button matStepperNext>Sledece</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="formOpis">
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          type="text"
          required
          formControlName="opis"
        ></textarea>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Nazad</button>
        <button mat-button matStepperNext>Prijavi</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
</mat-dialog-content>