<div class="user-wrapper">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Datum: {{ nesreca.datum | date: "dd/MM/yyyy" }}
        </mat-panel-title>
        <mat-panel-description>
          Oznaka auta: {{ nesreca.auto.registarskiBroj }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Vlasnik: {{nesreca.auto.vlasnik.ime}} {{nesreca.auto.vlasnik.prezime}}, {{nesreca.auto.vlasnik.jmbg}}</p>
      <p>Opis: {{ nesreca.opis }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>