.box {
  position: relative;
  top: 0;
  max-width: 700px;
}
.example-full-width{
  display: flex;
}

.gender {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.example-radio-button{
  margin-left: 7px;
}

.width-50{
  width: 49%;
}

.ml-2{
  margin-left: 2%;
}
