<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <form class="example-form" [formGroup]="registerForm">
        <mat-card-content class="card">
            <mat-form-field class="width-50">
                <mat-label>Ime</mat-label>
                <input formControlName="firstName" matInput>
                <mat-error *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required', 'firstName')">Ime je obavezno</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50 ml-2">
                <mat-label>Prezime</mat-label>
                <input formControlName="lastName" matInput>
                <mat-error class="width-50 ml-2" *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required', 'lastName')">Prezime je obavezno</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50">
                <mat-label>JMBG</mat-label>
                <input formControlName="uniqueMasterCitizenNumber" matInput>
                <mat-error *ngIf="registerForm.controls['uniqueMasterCitizenNumber'].dirty && registerForm.hasError('required', 'uniqueMasterCitizenNumber')">JMBG je obavezan</mat-error>
                <mat-error *ngIf="registerForm.controls['uniqueMasterCitizenNumber'].dirty && !registerForm.hasError('required', 'uniqueMasterCitizenNumber')">JMBG mora sadrzati 13 cifara</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50 ml-2">
                <mat-label>Broj telefona</mat-label>
                <input formControlName="phoneNumber" matInput>
                <mat-error *ngIf="registerForm.controls['phoneNumber'].dirty && registerForm.hasError('required', 'phoneNumber')">Broj telefona je obavezan</mat-error>
            </mat-form-field>
            <div formGroupName="address">
            <mat-form-field class="width-50">
                <mat-label>Ulica</mat-label>
                <input formControlName="street" matInput>
                <mat-error *ngIf="registerForm.hasError('required', 'address.street')">Ulica je obavezna</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50 ml-2">
                <mat-label>Broj</mat-label>
                <input formControlName="number" matInput>
                <mat-error *ngIf="registerForm.hasError('required', 'address.number')">Broj je obavezan</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50">
                <mat-label>Grad</mat-label>
                <input formControlName="city" matInput>
                <mat-error *ngIf="registerForm.hasError('required', 'address.city')">Grad je obavezan</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50 ml-2">
                <mat-label>Država</mat-label>
                <input formControlName="country" matInput>
                <mat-error *ngIf="registerForm.hasError('required', 'address.country')">Država je obavezna</mat-error>
            </mat-form-field>
        </div>
            <mat-form-field class="width-50">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-error *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">Email je obavezan</mat-error>
            </mat-form-field>
            <mat-form-field class="width-50 ml-2">
                <mat-label>Lozinka</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">Lozinka je obavezna</mat-error>
            </mat-form-field>
            <div class="gender">
                <input formControlName="gender" name="gender" ng-control="options" type="radio" [value]="0">MUŠKO
                <input formControlName="gender" name="gender" ng-control="options" type="radio" [value]="1">ŽENSKO
            </div>
        </mat-card-content>
        <div class="button">
            <button (click)="onSubmit()" [disabled]="registerForm.invalid" mat-stroked-button color="accent" class="btn-block">Registruj se</button>
        </div>
      </form>
    </mat-card>
  </div>
