<div class="user-wrapper">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Datum: {{ accident.date | date: "dd/MM/yyyy" }}
        </mat-panel-title>
        <mat-panel-description>
          Oznaka auta: {{ accident.policy.car.registerNumber }}
        </mat-panel-description>
        <mat-panel-description>
          Status: {{status}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Tip paketa pomoći: {{ accident.policy.aidPackage.description }}</p>
      <p>Pokriće: {{ accident.policy.aidPackage.cover}}€</p>
      <p>Opis nesreće: {{ accident.description }}</p>
      <p *ngIf="accident.status != 2">Šlep služba: <span *ngIf="accident.towTruck == null">Bez slepera</span> <span *ngIf="accident.towTruck != null">{{accident.towTruck.towingService.address}}</span></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>