<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Profil</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="registerForm">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input formControlName="ime" name="ime" matInput placeholder="Ime">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="prezime" matInput placeholder="Prezime">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="jmbg" matInput placeholder="JMBG">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="brojTelefona" matInput placeholder="Broj Telefona">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="adresa" matInput placeholder="Adresa">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="email" matInput placeholder="Email">
            </mat-form-field>
            <input formControlName="pol" name="pol" ng-control="options" type="radio" [value]="0">MUSKO
            <input formControlName="pol" name="pol" ng-control="options" type="radio" [value]="1">ZENSKO
        </mat-card-content>
      </form>
    </mat-card>
  </div>
