<div class="create-package-button-wrapper" *ngIf="userRole == 'ADMIN'">
  <button (click)="openDialog()" class="create-button">Kreiraj paket</button>
</div>
<div class="table">
    <mat-table #table [dataSource]="aidPackages">
      <ng-container matColumnDef="tip">
        <mat-header-cell *matHeaderCellDef>Tip</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.description }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cena">
        <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.price }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="pokrice">
        <mat-header-cell *matHeaderCellDef>Pokrice</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.cover }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="trajanjeUMesecima">
        <mat-header-cell *matHeaderCellDef>Trajanje u mesecima</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.durationInMonths }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let row" >
             <button *ngIf="userRole == 'CUSTOMER'" mat-button (click)="buyAidPackage(row)">Kupi</button>
             <button *ngIf="userRole == 'ADMIN'" mat-button (click)="openUpdateDialog(row)">Izmeni</button>
             <button *ngIf="userRole == 'ADMIN'" mat-button (click)="Remove(row)">Izbrisi</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>