.create-package-button-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px
}

.create-button{
    padding: 10px;
    border-radius: 1em;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.deleteButton {
    color:  red !important;
}