<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
  <div class="buttons" *ngIf="!towTruck">
    <button class="button" (click)="bookTowTruck()">ANGAŽUJ ŠLEPER</button>
    <button class="button" mat-dialog-close="withoutTowTruck">BEZ ŠLEPERA</button>
  </div>
  <mat-stepper orientation="horizontal" [linear]="true" *ngIf="towTruck">
    <mat-step>
      <form [formGroup]="startTimeForm">
        <mat-form-field appearance="fill" class="date">
          <mat-label>Datum i vreme</mat-label>
          <input formControlName="startTime"
            matInput
            required
            type="datetime-local"
          />
          <mat-error *ngIf="startTimeForm.controls['startTime'].dirty && startTimeForm.hasError('required', 'startTime')">Unesite datum i vreme</mat-error>
          <mat-error *ngIf="startTimeForm.controls['startTime'].dirty && !startTimeForm.hasError('required', 'startTime')">Izaberite datum i vreme u buducnosti</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="!startTimeForm.valid">Sledeće</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <form [formGroup]="durationForm">
      <mat-form-field appearance="fill">
        <mat-label>Trajanje u satima:</mat-label>
        <input formControlName="duration"
        matInput
        required
        type="number"
        min="0"
      />
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Prethodno</button>
        <button mat-button matStepperNext (click)="findAvailableTowTrucks()" [disabled]="!durationForm.valid">Sledeće</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <div class="table-content">
      <mat-table #table [dataSource]="towTrucks" class="table">
        <ng-container matColumnDef="towingService">
          <mat-header-cell *matHeaderCellDef>Šlep služba</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.towingService.address}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="width">
          <mat-header-cell *matHeaderCellDef>Širina m</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.width}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="length">
          <mat-header-cell *matHeaderCellDef>Dužina m</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.length}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="transportCapacity">
          <mat-header-cell *matHeaderCellDef>Kapacitet t</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.transportCapacity}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" class="mat-row" (click)="selectRow(row)"
        [ngClass]="{hovered: rowHovered, highlighted: row.id  == selectedTruckId}"
        (mouseover)="hoverRow(true)" (mouseout)="hoverRow(false)"
        ></mat-row>
      </mat-table>
    </div>
    <div>
      <button mat-button matStepperPrevious>Prethodno</button>
      <button mat-button matStepperNext (click)="validate()"  mat-button [disabled]="selectedTruckId == -1">Angažuj</button>
    </div>
  </mat-step>
  </mat-stepper>
</mat-dialog-content>