<div class="content-wrapper">
  <div class="button-wrapper" *ngIf="userRole == 'ADMIN'">
    <button (click)="openDialog()" class="create-button">KREIRAJ FILIJALU</button>
  </div>
  <div class="table">
      <mat-table #table [dataSource]="branches">
        <ng-container matColumnDef="adresa">
          <mat-header-cell *matHeaderCellDef>Adresa</mat-header-cell>
          <mat-cell *matCellDef="let item">{{ item.address.street}} {{item.address.number}} {{item.address.city}}, {{item.address.country}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let row" class="updateDeleteButton">
            <button *ngIf="userRole == 'ADMIN'" mat-button (click)="Remove(row)" class="deleteButton">IZBRIŠI</button>
              <button *ngIf="userRole == 'ADMIN'" mat-button (click)="openUpdateDialog(row)">IZMENI</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
      [pageSize]="4"
      [length]="totalCount"
      (page)="onPageChanged($event)"
      [pageIndex]="pageNumber"
      >
    </mat-paginator>
  </div>
</div>