.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    margin-left: 5%;
    margin-right: 5%;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: black;
}

.create-button{
    padding: 10px;
    border-radius: 15px;
    background-color: darkblue;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.updateDeleteButton{
    display: flex;
    flex-direction: row-reverse;
}

.deleteButton{
    color: red !important;
}