<mat-dialog-content class="content">
  <button class="close" mat-button mat-dialog-close="canceled">X</button>
      <form [formGroup]="formPackage">
        <div class="wrapper" formGroupName="address">
        <mat-form-field appearance="fill">
          <mat-label>Ulica</mat-label>
          <input
            matInput
            required
            formControlName="street"
           />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Broj</mat-label>
          <input
            matInput
            required
            formControlName="number"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Grad</mat-label>
          <input
            matInput
            required
            formControlName="city"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Država</mat-label>
          <input
            matInput
            required
            formControlName="country"
          />
        </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-button mat-dialog-close="canceled">Odustani</button>
          <button mat-button mat-dialog-close="save" (click)="Update()" [disabled]="!formPackage.valid">Sacuvaj</button>
        </div>
      </form>
</mat-dialog-content>