.content-wrapper{
  display: flex;
  justify-content: center;
}

.title {
  justify-content: center;
  align-content: center;
}

.box {
  max-width: 700px;
  margin-top: -45px;
}
.example-full-width{
  display: flex;
  flex-direction: column;
}

.gender {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.width-50{
  width: 49%;
}

.ml-2{
  margin-left: 2%;
}